@font-face {
	font-family: 'Pier Sans';
	src: font('pier-sans-light.otf');
}

@font-face {
	font-family: 'Pier Sans';
	font-weight: bold;
	src: font('pier-sans-bold.otf');
}

@font-face {
	font-family: 'Pier Sans';
	font-style: italic;
	src: font('pier-sans-light-italic.otf');
}

@font-face {
	font-family: 'Pier Sans';
	font-weight: bold;
	font-style: italic;
	src: font('pier-sans-bold-italic.otf');
}