.icon {
	display: inline-block;
}

.icon-small {
	height: $tile-small-size;
	width: $tile-small-size;
}

.icon-large {
	height: $tile-large-size;
	width: $tile-large-size;
}

.icon-space {
	margin-bottom: space(medium);

	&:not(:first-of-type) {
		margin-left: space(small);
	}
	&:not(:last-of-type) {
		margin-right: space(small);
	}
}