.icon {
	display: inline-block;
	vertical-align: middle;

	@each $name, $color in $palette {
		&.color-#{$name} {
			color: $color;

			&:active, &:focus, &:active {
				color: $color;
			}
		}
	}
}

.icon-small {
	height: $tile-small-size;
	width: $tile-small-size;
}

.icon-large {
	height: $tile-large-size;
	width: $tile-large-size;
}

.icon-space {
	margin-bottom: space(medium);

	&:not(:first-of-type) {
		margin-left: space(small);
	}
	&:not(:last-of-type) {
		margin-right: space(small);
	}
}

.icon-hover {
	transition: all $transition-time $transition-function;

	&:hover {
		transform: scale(1.1);
	}
}

.icon-fa-container {
	@extend .round, .bg-white, .pos-relative;
}
.icon-fa {
	@extend .center;

	font-size: space(medium);
}
